<mat-toolbar color="primary">

  <a [routerLink]="['']" style="margin-left: 5%; margin-top: 0.5%">
    <mat-icon [ngStyle]="{'color':'white'}">work_outline</mat-icon>
  </a>
  <a [routerLink]="['']">
    <button mat-flat-button color="primary" style="font-size: x-large">Job Candidates</button>
  </a>

  <span class="example-spacer" style="width: 20%"></span>
  <a [routerLink]="['add-candidate']">
    <button mat-flat-button color="primary" style="font-size: large">Add Candidate</button>
  </a>
  <a [routerLink]="['skill']" style="margin-left: 8%;">
    <button mat-flat-button color="primary" style="font-size: large">Skills Administration</button>
  </a>

</mat-toolbar>
